:root {
  --bg: #131313;
  --main: #f1f1f1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Code', monospace;
  overflow-x: hidden;
  color: var(--main);
  background-color: var(--bg);
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background: var(--main);
  color: var(--bg);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--main);
}
