.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  min-width: 600px;
  margin-top: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  margin-bottom: 50px;
}

.create {
  padding: 15px;
  color: var(--main);
  border: solid 2px var(--main);
  transition: 0.1s linear;
}

.create:hover {
  background-color: var(--main);
  color: var(--bg);
}

.post {
  color: var(--main);
  border: solid 1px #303030;
  width: inherit;
  padding: 20px 25px;
}

.post:hover {
  border: 1px solid #5c5c5c;
}

.post:focus {
  border: 1px solid var(--main);
}

.title {
  font-size: 24px;
  font-weight: 900;
  text-decoration: none;
}

.content {
  margin: 30px 0;
}

.title:hover {
  text-decoration: underline;
}

.link:hover {
  text-decoration: underline;
}
